*
{
    margin: 0px;
    padding: 0px;

}

body
{
    width: 100%;
    background-image: linear-gradient(rgba(4,4,4,0.2),rgba(7,7,7,0.2)),url(images/cont4.jpg);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;

}

.container h1
{
    margin-left: 38%;
}
.container p
{
    margin-left: 30%;
}


.container 
{
    width: 80%;
    margin: 24px auto;
    color: white;
    
   
    
}


.contact-box
{
   
    font-size: 20px;
    display: flex;
    color: white;
    
}

.contact-left
{
    flex-basis: 60%;
    padding: 40px 60px;
    background-color: lightblue;
}
.contact-right
{
    flex-basis: 40%;
    padding: 40px;
    background-color: rgb(245, 55, 245);
}

h1{
    margin-bottom: 10px;

}

.container p
{
    margin-bottom: 40px;
}

.input-row
{
    display: flex;
    justify-content: space-between;
    margin:20px;
}

.input-row .input-group
{
    flex-basis: 45%;
}
label
{
    font-size: 18px;
    color: navy;
}
input
{
    font-size: 14px;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    outline: none;
    padding-bottom: 5px;
    background-color: transparent;
}

textarea
{
    width: 100%;
    border: 1px solid rgba(0,0,0,0.5);
    outline: none;
    padding: 5px;
    box-sizing: border-box;
}

label
{
    margin-bottom: 6px;
    display: block;
 
    color: navy;
}

.abc 
{
    margin-left: 18px;
}

button
{
    background: blue;
    width: 100px;
    margin-left: 18px;
    border: none;
    outline: none;
    color: white;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
    position: center;
}

.contact-left h3
{
    color: indigo;
    margin-bottom: 30px;
    font-weight: 600;
}

tr td:first-child
{
    padding-right: 20px;
}
tr td
{
    padding-top: 20px;
}